/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #3e81c5;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.logo img {
    border-radius: 30px;
    width: 60px;
}

/* Hero section styles */
.hero {
    text-align: center;
    padding: 100px 0;
    background-color: #f4f4f4;
}

.hero h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

/* Features section styles */
.features {
    padding: 100px 0;
    text-align: center;
}

.features h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.feature {
    margin-bottom: 40px;
}

.feature i {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature p {
    color: #666;
}

/* Footer styles */
footer {
    background-color: #333;
    padding: 50px 0;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-social a {
    color: #fff;
    font-size: 1.5em;
    margin-right: 10px;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

.button {
    background: linear-gradient(45deg, #ea72d4, #e2b11e); /* Gradient background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Get the element to behave like a button */
    font-size: 16px; /* Increase font size */
    margin: 10px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 25px; /* Rounded corners */
    transition: transform 0.3s; /* Smooth transition for background color and transform */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.button:hover {
    background: linear-gradient(45deg, #e8200e, #1a8eb8); /* Gradient background on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
    box-shadow: 0 6px 8px rgba(16, 7, 9, 0.761); /* Slightly larger shadow on hover */
}
